@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  background-color: hsl(225, 100%, 94%);
  font-family: "Red Hat Display", sans-serif;
}
.main {
  background-color: white;
  margin: 3% 15%;
  border-radius: 5%;
}
.main img {
  width: 100%;
  height: auto;
  border-radius: 4% 4% 0 0;
}
.section {
  border: 2px solid white;
  padding: 7%;
  border-radius: 0 0 4% 4%;
}
.section p {
  padding: 5% 1%;
  font-size: 0.9rem;
  color: darkgray;
}
.price {
  display: flex;
  flex-direction: row;
  margin: 5% 15%;
  font-size: 0.7rem;
  justify-content: center;
  padding-bottom: 5%;
}
.price:hover {
  cursor: pointer;
}
.price img {
  width: 20%;
  height: auto;
}
.price p {
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
}
.price a {
  border: 2px soild darkmagenta;
  width: 30%;
}
button {
  width: 100%;
  padding: 3%;
  background-color: hsl(245, 75%, 52%);
  border-radius: 6%;
  color: whitesmoke;
}
button:hover {
  cursor: pointer;
}
.section h6 {
  color: darkgray;
  padding: 5%;
  font-size: 0.9rem;
  margin: 0% 25%;
}
.section h6:hover {
  cursor: pointer;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (min-width: 750px) {
  .main {
    margin: 3% 40%;
  }
}
